.Template1MobileMain {
  width: 395px;
  height: 5410px;
  position: relative;
  background: white;
  overflow: hidden;
}

.ToolbarDarkCompact {
  display: inline-flex;
  flex: 1 1 0;
  align-self: stretch;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 200px;
}

.LogoPlaceholder {
  display: inline-flex;
  align-self: stretch;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: flex-start;
  align-items: center;
}

.MyLogo {
  text-align: center;
  color: #6070ff;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 20px;
  word-wrap: break-word;
}

.NormalButtonTertiaryEnabled {
  align-self: stretch;
  padding: 8px;
  border-radius: 8px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.IconsIconMenu {
  width: 24px;
  height: 24px;
  position: relative;
}

.Union {
  width: 18px;
  height: 12px;
  left: 3px;
  top: 6px;
  position: absolute;
}

.HeaderBackgroundMobile {
  width: 375px;
  height: 718px;
  background: white;
  flex-shrink: 0;
}

.HeaderShapesMobile {
  width: 462px;
  height: 587.15px;
  position: relative;
}

.Rectangle7 {
  width: 26.46px;
  height: 4.73px;
  left: 161.18px;
  top: 42.59px;
  position: absolute;
  transform: rotate(40.77deg);
  transform-origin: 0 0;
  background: #6070ff;
}

.Ellipse5 {
  width: 11px;
  height: 10px;
  left: 166.98px;
  top: 51.81px;
  position: absolute;
  transform: rotate(52.97deg);
  transform-origin: 0 0;
  background: #cbcdff;
  border-radius: 9999px;
}

.Rectangle5 {
  width: 68.06px;
  height: 12.18px;
  left: 225.82px;
  top: 549px;
  position: absolute;
  transform: rotate(23.34deg);
  transform-origin: 0 0;
  background: #ebebff;
}

.Ellipse4 {
  width: 20px;
  height: 20px;
  left: 271px;
  top: 553.1px;
  position: absolute;
  background: #6070ff;
  border-radius: 9999px;
}

.Ellipse13 {
  width: 30.1px;
  height: 30.1px;
  left: 300.18px;
  top: 470.44px;
  position: absolute;
  transform: rotate(341deg);
  transform-origin: 0 0;
  border-radius: 9999px;
}

.Ellipse12 {
  width: 24.14px;
  height: 12.07px;
  left: 318.76px;
  top: 455.69px;
  position: absolute;
  transform: rotate(7deg);
  transform-origin: 0 0;
}

.Rectangle6 {
  width: 51.99px;
  height: 9.3px;
  left: -34px;
  top: 83.49px;
  position: absolute;
  transform: rotate(-46.14deg);
  transform-origin: 0 0;
  background: #ebebff;
}

.Ellipse11 {
  width: 38.5px;
  height: 19.25px;
  left: -10px;
  top: 70px;
  position: absolute;
  transform-origin: 0 0;
}

.Ellipse8 {
  width: 15px;
  height: 15px;
  left: 248px;
  top: 6px;
  position: absolute;
  background: white;
  border-radius: 9999px;
  border: 1px #cbcdff solid;
}

.Ellipse14 {
  width: 11px;
  height: 11px;
  left: 332px;
  top: 211px;
  position: absolute;
  background: white;
  border-radius: 9999px;
  border: 1px #cbcdff solid;
}

.Ellipse15 {
  width: 15px;
  height: 15px;
  left: 87px;
  top: 541px;
  position: absolute;
  background: white;
  border-radius: 9999px;
  border: 1px #cbcdff solid;
}

.Ellipse3 {
  width: 105px;
  height: 105px;
  left: 305px;
  top: 80.24px;
  position: absolute;
  border-radius: 99999px;
}

.Rectangle4 {
  width: 95.58px;
  height: 22.02px;
  left: 300px;
  top: 92.79px;
  position: absolute;
  transform: rotate(-30deg);
  transform-origin: 0 0;
  background: #ebebff;
}

.Headline {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 114px;
  padding-bottom: 114px;
  left: 0;
  top: 92px;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: inline-flex;
 
}

.PrimaryText {
  width: 327px;
  height: 150px;
  color: #172b4d;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 52px;
  word-wrap: break-word;
}

.PrimaryTextNext {
  width: 327px;
  height: 146px;
  color: #344563;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.SocialMedia {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}

.SupportingText {
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  display: inline-flex;
}

.LetSConnect {
  color: #7f8cff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.SocialMediaIcons {
  width: 170.17px;
  height: 20px;
  position: relative;
}

.works {
display: grid;
height: 2,900px;
background-color: whitesmoke;
grid-template-rows: 25% 25% 25%  25%;
padding-top: 8pc;
padding-bottom: 8pc;
justify-content: center;
width: 375px;

}

.cardWorks{
height: 552px;
margin-top: 20px;
width: 327px;
padding: 16px;
border-radius: 16px;
gap: 12px;
display: inline-block;
justify-content: center;
background-color: white;

}

.leftBlock{
width: 295px;
height: 288px;
gap: 12px;

}

.projectTitle{
width: 295px;
height: 36px;
font-family: "poppins";
font-size: 32px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
padding-left: 10px;
color: #172B4D;
margin-top: 5px;
}


ul{
  margin-top: 60px;
  margin-left: -30px;
}

li{
list-style-type: none;
display: inline-block;
font-family: "poppins";
margin: 2px;
line-height: 4px;
}

#canopy{
  color: rgba(52, 69, 99, 1);
  font-weight: 600;
}
.clr{
  color: rgba(122, 134, 154, 1);
}

.cardText{
  width: 295px;
  height: 76px;
  font-family: "poppins";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-left: 10px;
  color: rgba(52, 69, 99, 1);
}

.tags{
  width: 214px;
  height: 24px;
  gap: 8px;
  display: flex;
  margin-top: 12px;
}

#tag1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 24px;
  padding: 4px,12px,4px,12px;
  background-color: rgba(235, 235, 255, 1);
  border-radius: 8px;
  font-family: "poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3%;
  color: rgba(96, 112, 255, 1);
}

#tag2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49px;
  height: 24px;
  padding: 4px,12px,4px,12px;
  background-color: rgba(235, 235, 255, 1);
  border-radius: 8px;
  font-family: "poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3%;
  color: rgba(96, 112, 255, 1);
}

#tag3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 24px;
  padding: 4px,12px,4px,12px;
  background-color: rgba(235, 235, 255, 1);
  border-radius: 8px;
  font-family: "poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3%;
  color: rgba(96, 112, 255, 1);
}


.action{
  width: 295px;
  height: 72px;
  margin-top: 20px;
  
}

.btn{
  width: 126px;
  height: 48px;
  border: 1px solid #6070FF;
  border-radius: 8px;
  margin-top: 5px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #396DF2;
  font-family: "poppins";
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 3%;
  font-weight: 500;
}

.about_my_self{
  width: 375px;
  height: 1062.15px;
  margin-top: -50px;
  padding: 114px,24px,114px,24px; 
  gap: 24px; 
  background-color: white;
  border-radius: 0px  50px  0px  0px;
  border: 2px solid black;
}

.top{
  width: 327px;
  height: 346px;
  gap: 12px;
  margin-top: 130px;
  margin-left: 30px;
  
}

#T1{
font-family: "poppins";
font-weight: 700;
font-size: 40px;
line-height: 52px;
color: #172B4D;

}

#T2{
  font-family: "poppins";
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #344563;
height: 147px;
width: 327px;

}

#socials{
  width: 200px;
  height: 80px;
  gap: 16px;
  color: #7F8CFF;
  margin-top: 7px;
}

#sptTxt{
width: 170px;
height:24px;
font-family: "poppins";
font-weight: 500;
font-size: 16px;
line-height: 24px; 

}

#frame1 img{ 
padding: 4px;
margin-top: 8px;
margin-left: 6px;

}

#btn2{

  width: 138px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid #6070FF;
  padding: 12px;
  gap: 10px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 17px;
  display: flex;
  align-items: center;
  color: #396DF2;
  justify-content: center;
  margin-left: -10px;
  margin-top: 10px;
}

#skill_list{

  width: 327px;
  height: 464.15px;
  
  margin-left: 19px;
 
}

.frame12{
  width: 327px;
  height: 320.15px;
 
}

.frame7{
  width: 327px;
  height: 72px;
  
  display: flex;
  align-items: center;
}

.language_list{
  width: 327px;
  height: 248.15px;


}

.frame8{
  width: 327px;
  height: 72px;
  
  display: flex;
  align-items: center;
}

.frame9{
  width: 327px;
  height: 72px;
  
  display: flex;
  align-items: center;
}

.seperator{
width: 327px;
height: 1px;
top: 71px;
color: #DFE1E6;
}

.lang{
width: 1900px;
height: 24px;
top: 24px;
margin-left: 12px;
font-family:"poppins";
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}

.lang1{
  width: 1800px;
  height: 24px;
  top: 24px;
  margin-left: 12px;
  font-family:"poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  }

.js1{
width: 303px;
height: 66.72px;
padding: 9px,12px,9px,12px;
border-radius: 8px;
background: #F7F7F9;
margin: 8px;
display: flex;
align-items: center;

font-family: "Poppins";
font-size: 15px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}


