.Template1MobileMain {
  width: 395px;
  height: 5410px;
  position: relative;
  background: white;
  overflow: hidden;
}

.ToolbarDarkCompact {
  display: inline-flex;
  flex: 1 1 0;
  align-self: stretch;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 200px;
}

.LogoPlaceholder {
  display: inline-flex;
  align-self: stretch;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: flex-start;
  align-items: center;
}

.MyLogo {
  text-align: center;
  color: #6070ff;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 20px;
  word-wrap: break-word;
}

.NormalButtonTertiaryEnabled {
  align-self: stretch;
  padding: 8px;
  border-radius: 8px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.IconsIconMenu {
  width: 24px;
  height: 24px;
  position: relative;
}

.Union {
  width: 18px;
  height: 12px;
  left: 3px;
  top: 6px;
  position: absolute;
}

.HeaderBackgroundMobile {
  width: 375px;
  height: 718px;
  background: white;
  flex-shrink: 0;
}

.HeaderShapesMobile {
  width: 462px;
  height: 587.15px;
  position: relative;
}

.Rectangle7 {
  width: 26.46px;
  height: 4.73px;
  left: 161.18px;
  top: 42.59px;
  position: absolute;
  transform: rotate(40.77deg);
  transform-origin: 0 0;
  background: #6070ff;
}

.Ellipse5 {
  width: 11px;
  height: 10px;
  left: 166.98px;
  top: 51.81px;
  position: absolute;
  transform: rotate(52.97deg);
  transform-origin: 0 0;
  background: #cbcdff;
  border-radius: 9999px;
}

.Rectangle5 {
  width: 68.06px;
  height: 12.18px;
  left: 225.82px;
  top: 553px;
  position: absolute;
  transform: rotate(23.34deg);
  transform-origin: 0 0;
  background: #ebebff;
}

.Ellipse4 {
  width: 20px;
  height: 20px;
  left: 271px;
  top: 553.1px;
  position: absolute;
  background: #6070ff;
  border-radius: 9999px;
}

.Ellipse13 {
  width: 30.1px;
  height: 30.1px;
  left: 300.18px;
  top: 470.44px;
  position: absolute;
  transform: rotate(341deg);
  transform-origin: 0 0;
  border-radius: 9999px;
}

.Ellipse12 {
  width: 24.14px;
  height: 12.07px;
  left: 318.76px;
  top: 455.69px;
  position: absolute;
  transform: rotate(7deg);
  transform-origin: 0 0;
}

.Rectangle6 {
  width: 51.99px;
  height: 9.3px;
  left: -34px;
  top: 83.49px;
  position: absolute;
  transform: rotate(-46.14deg);
  transform-origin: 0 0;
  background: #ebebff;
}

.Ellipse11 {
  width: 38.5px;
  height: 19.25px;
  left: -10px;
  top: 70px;
  position: absolute;
  transform-origin: 0 0;
}

.Ellipse8 {
  width: 15px;
  height: 15px;
  left: 248px;
  top: 6px;
  position: absolute;
  background: white;
  border-radius: 9999px;
  border: 1px #cbcdff solid;
}

.Ellipse14 {
  width: 11px;
  height: 11px;
  left: 332px;
  top: 211px;
  position: absolute;
  background: white;
  border-radius: 9999px;
  border: 1px #cbcdff solid;
}

.Ellipse15 {
  width: 15px;
  height: 15px;
  left: 87px;
  top: 541px;
  position: absolute;
  background: white;
  border-radius: 9999px;
  border: 1px #cbcdff solid;
}

.Ellipse3 {
  width: 105px;
  height: 105px;
  left: 305px;
  top: 80.24px;
  position: absolute;
  border-radius: 9999999px;
}

.Rectangle4 {
  width: 95.58px;
  height: 22.02px;
  left: 300px;
  top: 92.79px;
  position: absolute;
  transform: rotate(-30deg);
  transform-origin: 0 0;
  background: #ebebff;
}

.Headline {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 114px;
  padding-bottom: 114px;
  left: 0;
  top: 92px;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: inline-flex;
}

.PrimaryText {
  width: 327px;
  height: 150px;
  color: #172b4d;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 52px;
  word-wrap: break-word;
}

.PrimaryTextNext {
  width: 327px;
  height: 146px;
  color: #344563;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.SocialMedia {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}

.SupportingText {
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  display: inline-flex;
}

.LetSConnect {
  color: #7f8cff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.SocialMediaIcons {
  width: 170.17px;
  height: 20px;
  position: relative;
}

.works {
  display: grid;
  height: 2, 900px;
  background-color: whitesmoke;
  grid-template-rows: 25% 25% 25% 25%;
  padding-top: 8pc;
  padding-bottom: 8pc;
  justify-content: center;
  width: 375px;
}

.cardWorks {
  height: 552px;
  margin-top: 20px;
  width: 327px;
  padding: 16px;
  border-radius: 16px;
  gap: 12px;
  display: inline-block;
  justify-content: center;
  background-color: white;
}

.leftBlock {
  width: 295px;
  height: 288px;
  gap: 12px;
}

.projectTitle {
  width: 295px;
  height: 36px;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  padding-left: 10px;
  color: #172b4d;
  margin-top: 5px;
}

ul {
  margin-top: 60px;
  margin-left: -30px;
}

li {
  list-style-type: none;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  margin: 2px;
  line-height: 4px;
}

#canopy {
  color: rgba(52, 69, 99, 1);
  font-weight: 600;
}

.clr {
  color: rgba(122, 134, 154, 1);
}

.cardText {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-left: 10px;
  color: rgba(52, 69, 99, 1);
}

.tags {
  width: 214px;
  height: 24px;
  gap: 8px;
  display: flex;
  margin-top: 12px;
}

#tag1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 24px;
  padding: 4px, 12px, 4px, 12px;
  background-color: rgba(235, 235, 255, 1);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3%;
  color: rgba(96, 112, 255, 1);
}

#tag2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49px;
  height: 24px;
  padding: 4px, 12px, 4px, 12px;
  background-color: rgba(235, 235, 255, 1);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3%;
  color: rgba(96, 112, 255, 1);
}

#tag3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 24px;
  padding: 4px, 12px, 4px, 12px;
  background-color: rgba(235, 235, 255, 1);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3%;
  color: rgba(96, 112, 255, 1);
}

.action {
  width: 295px;
  height: 72px;
  margin-top: 20px;
}

.btn {
  width: 126px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-top: 5px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 3%;
  font-weight: 500;
}

.about_my_self {
  width: 375px;
  height: 1062.15px;
  margin-top: -50px;
  padding: 114px, 24px, 114px, 24px;
  gap: 24px;
  background-color: white;
  border-radius: 50px;
  border: 2px solid white;
}

.top {
  width: 327px;
  height: 346px;
  gap: 12px;
  margin-top: 130px;
  margin-left: 30px;
}

#T1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

#T2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  height: 147px;
  width: 327px;
}

#socials {
  width: 200px;
  height: 80px;
  gap: 16px;
  color: #7f8cff;
  margin-top: 7px;
}

#sptTxt {
  width: 170px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

#frame1 img {
  padding: 4px;
  margin-top: 8px;
  margin-left: 6px;
}

#btn2 {
  width: 138px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid #6070ff;
  padding: 12px;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  display: flex;
  align-items: center;
  color: #396df2;
  justify-content: center;
  margin-left: -10px;
  margin-top: 10px;
}

#skill_list {
  width: 327px;
  height: 464.15px;
  margin-left: 19px;
}

.frame12 {
  width: 327px;
  height: 320.15px;
}

.frame7 {
  width: 327px;
  height: 72px;
  display: flex;
  align-items: center;
}

.language_list {
  width: 327px;
  height: 248.15px;
}

.frame8 {
  width: 327px;
  height: 72px;
  display: flex;
  align-items: center;
}

.frame9 {
  width: 327px;
  height: 72px;
  display: flex;
  align-items: center;
}

.seperator {
  width: 327px;
  height: 1px;
  top: 71px;
  color: #dfe1e6;
}

.lang {
  width: 1900px;
  height: 24px;
  top: 24px;
  margin-left: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.lang1 {
  width: 1800px;
  height: 24px;
  top: 24px;
  margin-left: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.js1 {
  width: 303px;
  height: 66.72px;
  padding: 9px, 12px, 9px, 12px;
  border-radius: 8px;
  background: #f7f7f9;
  margin: 8px;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.contact-form {
  background-color: #6070ff;
  width: 375px;
  height: 779px;
  position: relative;
  border-radius: 50px;

  /* Linters not allowing the 0 values for border radius 50px 0px 0px 0px */
}

.contact-form header {
  display: flex;
  justify-content: center;
}

.text-box {
  font-family: 'Poppins', sans-serif;
  color: #ffff;
  text-align: center;
  margin: 70px 0;
}

.text-box h2 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
}

.text-box p {
  font-weight: 400;
  font-size: 18px;
}

.contact-form footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.contact-form footer form {
  margin: 10px 20px;
}

.contact-form footer input {
  width: 327px;
  height: 48px;
  margin: 6px 0;
  text-indent: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: medium;
  border-radius: 5px;
  border: 1px;
}

.contact-form footer textarea {
  width: 327px;
  height: 170px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px;
  text-indent: 20px;
  line-height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: medium;
}

.contact-form footer button {
  margin-top: 10px;
  padding: 12px;
  background-color: white;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .Template1MobileMain {
    width: 100%;
  }

  .ToolbarDarkCompact {
    gap: 890px;
    width: 100%;
  }

  .LogoPlaceholder {
    margin-left: 143px;
  }

  .MyLogo {
    font-size: 21px;
  }

  .IconsIconMenu {
    width: 34px;
    height: 34px;
  }

  .Union {
    width: 38px;
    height: 32px;
  }

  .HeaderBackgroundMobile {
    width: 100%;
    height: 718px;
    background: white;
  }

  .HeaderShapesMobile {
    width: 100%;
  }

  .Rectangle7 {
    left: 50%;
  }

  .Ellipse5 {
    left: 50.3%;
  }

  .Rectangle5 {
    left: 55%;
  }

  .Ellipse4 {
    left: 58%;
  }

  .Ellipse13 {
    left: 27%;
    top: 600px;
  }

  .Ellipse12 {
    left: 28%;
    top: 584px;
  }

  .Rectangle6 {
    left: 5%;
  }

  .Ellipse8 {
    left: 53.67%;
  }

  .Ellipse11 {
    left: 7%;
  }

  .Ellipse14 {
    left: 71.86%;
  }

  .Ellipse15 {
    left: 19%;
  }

  .Ellipse3 {
    left: 85%;
  }

  .Rectangle4 {
    left: 85%;
  }

  .Headline {
    width: 100%;
    align-items: center;
  }

  .PrimaryText {
    width: 100%;
    margin-left: 50%;
  }

  .PrimaryTextNext {
    width: 50%;
    margin-top: -90px;
    height: 110px;
  }

  .SocialMedia {
    margin-top: -50px;
    margin-left: -500px;
  }

  .works {
    width: 100%;
  }

  .cardWorks {
    height: 496px;
    width: 1156px;
    display: flex;
  }

  .snapshot {
    width: 544px;
    height: 448px;
  }

  .im {
    width: 544px;
    height: 445px;
  }

  .leftBlock {
    width: 544px;
    height: 400px;
    gap: 12px;
    padding: 24px;
  }

  .about_my_self {
    width: 100%;
    height: 524px;
    display: flex;
    justify-content: center;
  }

  .top {
    width: 447px;
    height: 311px;
    gap: 12px;
  }

  #T2 {
    width: 100%;
    height: 105px;
  }

  #frame1 {
    width: 300px;
  }

  #frame1 img {
    padding: 4px;
    margin-top: 8px;
    margin-left: 6px;
  }

  #skill_list {
    width: 500px;
    margin-top: 128px;
    height: 311px;
    margin-left: 19px;
  }

  .frame12 {
    width: 327px;
    height: 170.15px;
  }

  .frame7 {
    width: 327px;
    height: 72px;
    display: flex;
    align-items: center;
  }

  .language_list {
    width: 327px;
    height: 248.15px;
    display: flex;
  }

  .contact-form {
    width: 1440px;
    height: 846px;
  }

  .text-box {
    width: 569px;
    margin-top: 20px;
  }

  .contact-form footer {
    margin-top: -20px;
  }

  .contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .contact-form form input {
    width: 447px;
    height: 48px;
  }

  .contact-form form textarea {
    width: 447px;
    height: 170px;
  }

  .contact-back-mobile {
    display: none;
  }

  .contact-back-desktop {
    display: inline;
    position: absolute;
    z-index: 1;
  }

}
